.vscode/
.npm/
.vim/
.pki/
.cache/
Documents/
Desktop/
.mozilla/
.local/
.config/
.dotfiles/
Pictures/
Templates/
snap/
yay-git/
.Xclients
.bash_history
.bash_logout
.bash_profile
.bashrc
.dir_colors
.gitconfig
.gnupg/pubring.kbx
.gnupg/trustdb.gpg
.pylint.d/_home_tpm16a4_test.py1.stats
.pylint.d/test1.stats
.vim-bookmarks
.viminfo
.xinitrc
.yarnrc
.zcompdump
.zhistory
.zshrc
profile.log
dotfiles/
